<div class="social">
    <div class="toolbar">
        <a href="/logout"><button>Logout <i class="fas fa-sign-out-alt"></i></button></a>
    </div>
    <div class="social-me">
        <div class="social-me-pfp-bg">
            <div class="social-pfp">
                <img src="/img/profile-pictures/<%=user.AvatarID%>.jpg" alt="#">
            </div>
        </div>
        <div class="social-bio">
            <a><%=user.Username%></a>
            <a><%=user.Status%></a>
        </div>
    </div>
    <div class="social-toggles">
        <a>Friends</a>
        <div class="toggle-list">
            <i class="fas fa-bell"></i>
            <i class="fas fa-user-secret"></i>
            <i class="fas fa-map-marker-alt"></i>
        </div>
    </div>

    <div class="social-search">
        <form action="/friend_request" method="post">
            <div class="btn-toggle">
                <button><i class="fas fa-search"></i></button>
                <button type="submit">
                    <i class="inactive fas fa-user-plus" style="cursor: pointer"></i>
                </button>
            </div>
            <input type="text" name="friend" id="friend" placeholder="Add a friend...">
        </form>
        <form>
            <div class="btn-toggle">
                <i class="fas fa-search"></i>
            </div>
            <input id="searchInput" type="text" onkeyup="searchBar()" placeholder="Search for a friend...">
        </form>
    </div>


    <div class="social-list" id="social-list">

        <% for(let x = 0; x <friends.length; x++) {%>

        <div class="social-me social-person" id="social-node" onclick="showChat()">
            <div class="social-pfp">
                <img src="/img/profile-pictures/<%=friends[x].AvatarID%>.jpg" alt="#">
            </div>
            <div class="social-bio">
                <a class="user-name" href="/profile/<%=friends[x].Username%>"><%=friends[x].Username%></a>
                <a><%=friends[x].Status%></a>
            </div>
            <div class="social-gift">
                <i></i>
            </div>
        </div>
        <% }%>

    </div>

    <div class="social-notifications">
        <a>You have 0 notifications.</a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/chatbox.js"></script>

<script>
    // Search for friends on friends list
    function searchBar() {
        var input, filter, div, social, a, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("social-list");
        social = div.getElementsByClassName("social-me");
        console.log(social);
        for (i = 0; i < social.length; i++) {
            a = social[i].getElementsByClassName("user-name")[0];
            console.log(a);
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                social[i].style.display = "flex";
            } else {
                social[i].style.display = "none";
            }
        }
    }
</script>
