<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="#">
    <meta name="keywords" content="#">

    <link rel="stylesheet" href="/css/mainstyle.css" type="text/css">
    <link rel="stylesheet" href="/css/social.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <title>Gameway | PROFILE</title>
</head>
<body>
    <%- include('partials/nav'); %>
    <%- include('partials/social'); %>

<body>
    <!--BEGIN MAIN NAVIGATION-->
    <nav class="main-nav">
        <a href="room-list">
            <h1><i class="fas fa-play-circle"></i></h1>
        </a>
        <a href="home">
            <h1>HOME</h1>
        </a>
        <a class="current" href="profile">
            <h1>PROFILE</h1>
        </a>
        <a href="rank">
            <h1>RANK</h1>
        </a>
        <a href="store">
            <h1>STORE</h1>
        </a>
        <div class="currency">
            <div class="cash">
                <i class="fas fa-money-bill"></i>
                <span>2147483647</span>
            </div>
            <div class="coins">
                <i class="fas fa-coins"></i>
                <span>2147483647</span>
            </div>
        </div>
    </nav>
    <!--END MAIN NAVIGATION-->

    <div class="social"></div>

    <main>
        <header></header>
        <!--BEGIN PROFILE CONTAINER-->
        <div class="profile-container">
            <% for(var profile of results02) { %>
            <!--BEGIN LEFT SIDE-->
            <div class="left-side">
                <form class="profile-search-container">
                    <label for="username"></label>
                    <input type="text" id="username" name="username">
                </form>
                <div class="user-detail">
                    <h3 class="user-id"><i class="fas fa-search"></i><%=profile.Username%></h3>
                    <div class="avatar-container">
                        <img src="/img/profile-pictures/<%=profile.AvatarID%>.jpg" alt="user-avatar">
                    </div>
                    <div class="level">
                        <h4 class="xp-level"><%=profile.Level%></h4>
                        <progress value="<%=profile.Xp%>" max="100"></progress>
                        <h4 class="xp-points"><%=profile.Xp%>/100</h4>
                    </div>
                </div>
                <div class="status-message">
                    <h3>STATUS MESSAGE</h3>
                    <a><%=profile.Status%></a>
                </div>
                <div class="current-rank">
                    <h3>CURRENT RANK</h3>
                    <img src="/img/<%=profile.Rank.toLocaleLowerCase()%>.png" alt="rank">
                </div>
            </div>
            <!--END LEFT SIDE-->

            <!--BEGIN RIGHT SIDE-->
            <div class="right-side">
                <!--BEGIN RIGHT TOP-->
                <div class="right-top">
                    <div class="total-wins">
                        <h3>TOTAL WINS</h3>
                        <h2><%=profile.GamesWon%></h2>
                    </div>
                    <div class="games-played">
                        <h3>GAMES PLAYED</h3>
                        <h2><%=profile.GamesPlayed%></h2>
                    </div>
                    <div class="highest-rank">
                        <h3>HIGHEST RANK</h3>
                        <h2><%=profile.HighestRank%></h2>
                    </div>
                </div>
                <!--END RIGHT TOP-->

                <!--BEGIN RIGHT MIDDLE-->
                <div class="right-middle">
                    <div class="achievements">
                        <h3>ACHIEVEMENTS</h3>
                        <div class="achievement-images">
                            <% for(let x = 0; x <achievements.length; x++) {%>
                                <img src="/img/achievements/<%=achievements[x]%>.png" alt="achievement">
                            <% }%>
                        </div>
                    </div>
                </div>
                <!--END RIGHT MIDDLE-->

                <!--BEGIN RIGHT BOTTOM-->
                <div class="right-bottom">
                    <div class="match-history">
                        <h3>MATCH HISTORY</h3>
                        <% for(let x = 0; x <matches.length; x++) {%>
                            <div class="match-wrapper">
                                <div class="match">
                                    <h4 class="result">
                                        <%if(user_match[x].isWon === 1){ %>
                                            WIN
                                        <%} else {%>
                                            LOSS
                                        <% }%>
                                    </h4>
                                    <h4 class="mode"><%=matches[x].Game%></h4>
                                    <h4 class="date"><%=matches[x].Date%></h4>
                                </div>
                            </div>
                        <% }%>
                    </div>
                </div>
                <!--END RIGHT BOTTOM-->
            </div>
            <!--END RIGHT SIDE-->
            <% }%>
        </div>
        <!--END PROFILE CONTAINER-->
    </main>

    <!--BEGIN FOOTER-->
    <div class="footer-container"></div>
    <!--END FOOTER-->
    <!--BEGIN SCRIPTS-->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/e584d861f4.js"></script>
    <!--END SCRIPTS-->
</body>
</html>